a {
    text-decoration-line: none;
}
.list {
    background-color: rgb(220, 220, 220);
    width: 300px;
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-height: 300px;
    overflow: auto;
}

.list::-webkit-scrollbar {
    width: 0;
  }

.item {
    width: 200px;
    padding: 5px 10px;
    min-height: 35px;
    margin-bottom: 10px;
    background-color: rgb(39, 39, 39);
    color: rgb(155, 155, 155);
    border: 3px solid rgb(155, 155, 155);
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    background-color: #000;
    color: #fff;
}

.item.back {
    margin: 20px 0 0;
    background-color: #fff;
    color: #000;
}

.item.back span {
    font-size: 22px;
    transform: translateX(-20px);
}

.item.back:hover {
    border: 3px solid rgb(160, 85, 85);
}
.item.back:hover span {
    animation: back 0.5s ease-in-out infinite;
}

@keyframes back {
    from {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(-20px);
    }
}